<tr>
    <td><%= stock.name %></td>
    <td><%= stock.price%></td>
    <%if stock.rev_curr_year > stock.rev_last_year and stock.rev_last_year > stock.rev_last_2_year %>
        <td><b class="pass">Pass</b></td>
    <%elsif stock.rev_curr_year.zero? or stock.rev_last_year.zero? or stock.rev_last_2_year.zero? %>
        <td>N/A</td>
    <%else%>
        <td><b class="fail">Fail</b></td>
    <%end%>
</tr>