<h1>Stocks page</h1>


<table>
    <tr>
        <td>Stock Name</td>
        <td>Price</td>
        <td>Dividends</td>
        <td>Revenue Score</td>
        <td>EPS Score</td>
        <td>ROE Score</td>
        <td>Analyst Recommendation</td>
        <td>Surprises</td>
        <td>Earnings Growth</td>
        <td>Short Interest</td>
        <td>Insider Trading</td>
    </tr>
<%= render @stocks %>
</table>
<%= will_paginate %>