<h1>Stocks page</h1>


<table>
    <tr>
        <td>Stock Name</td>
        <td>Price</td>
        <td>Revenue Current Year</td>
        <td>Revenue last Year</td>
        <td>Revenue 2 years ago</td>
    </tr>
<%= render @stocks %>
</table>
<%= will_paginate %>